@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  font-size: 10px;
  --violet: hsl(257, 40%, 49%);
}
body {
  font-family: "Poppins", sans-serif;
  background: url(./images/bg-mobile.svg);
  background-color: var(--violet);
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  padding: 4rem;
  background-size: cover;
  height: 100vh;
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
p {
  font-size: 1.6rem;
  font-weight: 400;
}
#logo {
  margin-bottom: 5rem;
}
#logo-img {
  width: 160px;
}
.container {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
#product {
  margin-bottom: 8rem;
}
#product-img {
  margin-left: auto;
  margin-right: auto;
}
#intro {
  margin-bottom: 6rem;
}
#intro-head {
  margin-bottom: 2.5rem;
  font-weight: 700;
}
#intro-text {
  line-height: 3rem;
}
a {
  text-decoration: none;
}
#btn {
  background-color: white;
  color: var(--violet);
  width: 50%;
  padding: 1rem;
  border-radius: 100px;
  border: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3rem;
  margin-top: 3rem;
  font-weight: 400;
}

.footer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.icon {
  font-size: 20px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
}

.icon:not(:last-child) {
  margin-right: 16px;
}
.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1024px) {
  body {
    background: url(./images/bg-desktop.svg);
    background-color: var(--violet);
    background-repeat: no-repeat;

    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
  #logo-img {
    width: 240px;
  }
  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #btn {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    width: 30%;
  }
  #product {
    width: 55%;
    margin-bottom: 0;
  }
  #intro-head {
    font-size: 4rem;
    font-weight: 400;
  }
  #intro {
    width: 40%;
    text-align: left;
  }
  .footer {
    margin-top: 30px;
    justify-content: flex-end;
  }
}
